<h1>Editing trade item</h1>

<%= render "form", trade_item: @trade_item %>

<br>

<div>
  <%= link_to "Show this trade item", @trade_item %> |
  <%= link_to "Back to trade items", trade_items_path %>
</div>
