<%= image_tag "alchemist.jpg", size: "240x148", class: "sign-up-image rounded mx-auto m-3" %>

<h1 class="text-center">Kayıt Ol</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Anasayfaya dön", root_path %>
</div>
